<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>API introduction</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/static/assets_api_intro/img/favicon.png" rel="icon" />
    <link
      href="/static/assets_api_intro/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/static/assets_api_intro/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/static/assets_api_intro/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets_api_intro/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets_api_intro/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets_api_intro/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/assets_api_intro/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="/static/assets_api_intro/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Appland - v4.7.0
  * Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1><a href="">輿情分析API</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="/static/assets_api_intro/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li>
              <a class="nav-link scrollto" href="#features">App Features</a>
            </li>
            <li><a class="nav-link scrollto" href="/">Back to POA</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up"
          >
            <div>
              <h1>輿情分析API</h1>
              <h2>
                你的系統需要做熱門統計?做情緒分類?文章分類?我們提供非常豐富的API，你不必費心資料的分析，讓我們的API讓你的系統具備豐富的分析內容。
              </h2>
              <a href="#" class="download-btn"
                ><i class="bx bxl-play-store"></i>試用申請</a
              >
            </div>
          </div>
          <div
            class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img"
            data-aos="fade-up"
          >
            <img
              src="/static/assets_api_intro/img/hero-img.png"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= App Features Section ======= -->
      <section id="features" class="features">
        <div class="container">
          <div class="section-title">
            <h2>甚麼是Restful API</h2>
            <p>
              你有沒有呼叫過Google, Facebook, Instagram, Twitter的API?
              你看到的API，呼叫方式，資料回傳的格式等，基本上都遵循某種風格，稱RESTful
              API Representational State
              Transfer，簡稱REST，它是一種網路API架構的一種風格(不是一種標準)。
            </p>
            <br />
          </div>
        </div>
      </section>
      <!-- End App Features Section -->

      <!-- ======= Details Section ======= -->
      <section id="details" class="details">
        <div class="container">
          <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
              <img
                src="/static/assets_api_intro/img/details-1.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-8 pt-4" data-aos="fade-up">
              <h3>RESTful API</h3>

              RESTful API是一種client - server
              架構，可以將複雜的資料、複雜的演算法、重要的資源獨立(分離)出來，透過API介面讓別人使用。
              <br />

              <p class="fst-italic"></p>
              <ul>
                <li>
                  <i class="bi bi-check"></i>將Deep Learning
                  Keras模型寫成RESTful
                  API，開放給他人呼叫使用，別人可以用手機程式、網頁、或是其他程式，寫一個有用的整合系統，呼叫你的API結果。
                </li>
                <li>
                  <i class="bi bi-check"></i> Django有REST
                  framework套件可用，但這裡我們不用套件，我們用最簡單的方式完成任務。
                </li>
              </ul>
              <p></p>
            </div>
          </div>

          <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
              <img
                src="/static/assets_api_intro/img/details-2.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
              <h3>What is Restful API?</h3>
              <p class="fst-italic">
                Did you call Google, Facebook, Instagram, or Twitter API before?
                Yes, they are Restful APIs.
              </p>
              <p>
                Representational State Transfer, or REST in short, is an
                architectural style that defines web service to allow internet
                users to access your API.
              </p>
              <p>
                Representational state transfer (REST) is a software
                architectural style that defines a set of constraints to be used
                for creating Web services. Web services that conform to the REST
                architectural style, called RESTful Web services, provide
                interoperability between computer systems on the Internet.
                RESTful Web services allow the requesting systems to access and
                manipulate textual representations of Web resources by using a
                uniform and predefined set of stateless operations. Other kinds
                of Web services, such as SOAP Web services, expose their own
                arbitrary sets of operations.<br />
                <a
                  href="https://www.wikiwand.com/en/Representational_state_transfer"
                  >reference</a
                >
              </p>
            </div>
          </div>

          <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
              <img
                src="/static/assets_api_intro/img/details-3.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-8 pt-5" data-aos="fade-up">
              <h3>什麼時候需要RESTful API?</h3>
              <p>我們經常在使用別人提供的API，例如:Google。</p>
              <ul>
                <li>
                  <i class="bi bi-check"></i
                  >當你寫的程式或是你的資源，想要開放給網際網路上的使用者使用。
                </li>
                <li>
                  <i class="bi bi-check"></i
                  >當你寫的程式或是你的資源，想被多種不同平台使用時(Android/ iOS
                  /Web client/Web Server)。
                </li>
              </ul>
            </div>
          </div>

          <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
              <img
                src="/static/assets_api_intro/img/details-4.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
              <h3>Make your api become public!</h3>
              <p class="fst-italic"></p>
              <p></p>
              <ul>
                <li>
                  <i class="bi bi-check"></i>Disable Cross-site Request Forgery
                  (CSRF) protect for the API
                </li>
                <li>
                  <i class="bi bi-check"></i> Enable CORS on your Django website
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- End Details Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Appland</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="/static/assets_api_intro/vendor/aos/aos.js"></script>
    <script src="/static/assets_api_intro/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets_api_intro/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/assets_api_intro/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/assets_api_intro/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/static/assets_api_intro/js/main.js"></script>
  </body>
</html>
