<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>新聞輿情大數據</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/static/assets_course_intro/img/favicon.png" rel="icon">
    <link href="/static/assets_course_intro/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/static/assets_course_intro/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/static/assets_course_intro/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/assets_course_intro/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/assets_course_intro/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/static/assets_course_intro/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/static/assets_course_intro/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/static/assets_course_intro/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Rapid
      Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>
    <!--==========================
Header
============================-->
    <header id="header">

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="#intro" class="scrollto"><span>BI&BD</span></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="/static/assets_course_intro/img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#syllabus">Syllabus</a></li>
                    <li><a href="#why-us">Why choose this course</a></li>
                    <li><a href="#grading">Grading</a></li>
                    <li><a href="#faq">Q&A</a></li>
                    <li><a href="/">Back to POA website</a></li>
                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->

    <!--==========================
  Intro Section
============================-->
    <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info order-md-first order-last">
                    <h3>Business Intelligence and Big Data Analytics</h3>
                    <h4>商業智慧與巨量資科分析<br>
                        這是一門整合的課程:<br>
                        自然語言處理,網頁前後端技術,深度學習,文字探勘,爬蟲技術,Python資料分析的<span>輿情大數據系統!</span></h4>
                    <div>
                        <a href="#about" class="btn-get-started scrollto">Learn more..</a>
                    </div>
                </div>

                <div class="col-md-6 intro-img order-md-last order-first">
                    <img src="/static/assets_course_intro/img/intro-img.svg" alt="" class="img-fluid">
                </div>
            </div>

        </div>
    </section><!-- #intro -->


    <!--==========================
  About Us Section
============================-->
    <section id="about">

        <div class="container">
            <div class="row">

                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="/static/assets_course_intro/img/about-img.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-7 col-md-6">
                    <div class="about-content">
                        <h2>About This Course</h2>
                        <h4>
                            Public opinion analysis is an important application of big data
                        </h4>
                        <h4>
                            關於輿情大數據是商業智慧與巨量資科分析的一個重要的應用場景
                        </h4>
                        <ul>

                            <li><i class="ion-android-checkmark-circle"></i> (I) Public opinion is the collective
                                opinion of the people of a society or state on an issue. A public opinion analysis is an
                                important application domain of big data analysis and artificial intelligence. This
                                course will introduce how to implement a public opinion analysis system.
                            </li>
                            <li><i class="ion-android-checkmark-circle"></i> (II) A public opinion analysis system
                                involves several technologies including: (1) Natural Language Processing (NLP)—abstract
                                extraction, document similarity and recommendation, document classification and
                                emotional classification (2) Machine learning and deep learning, and (3) Website design.
                            </li>
                            <li><i class="ion-android-checkmark-circle"></i> (III) In this course, you will learn how to
                                use Python, Keras, and Django to implement a real world public opinion analysis system.
                            </li>


                            <p>(I) 本課程將介紹大數據分析的一個重要的應用場景—輿情分析(Public opinion analysis)。</p>
                            <p>(II) 課程會學習輿情分析用到的相關技術，包括機器學習與自然語言處理NLP，例如:文件摘要、文章相似度、文件推薦文件分類、情緒分類等技術。 </p>
                            <p>(III) 使用的工具包含Python程式、Keras深度學習模型、Django網頁前端後端整合設計。</p>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #about -->

    <!--==========================
  Syllabus Section
============================-->
    <section id="syllabus" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>Syllabus授課內容</h3>
                <p></p>
            </header>

            <div class="row">

                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline"
                                style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">Python基礎</a></h4>
                        <p class="description">
                            1.常用資料結構:
                            list []串列 (類似陣列),
                            tuple (),
                            dict {}字典,
                            set {}集合,
                            2.數學運算,
                            3.判斷,
                            4.迴圈,
                            5.自訂函數(方法),
                            6.numpy套件,
                            7.pandas套件,
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline"
                                style="color: #e98e06;"></i></div>
                        <h4 class="title"><a href="">Python introduction</a></h4>
                        <p class="description">
                            1.Useful data structure:
                            list,
                            tuple,
                            dict,
                            set,
                            2.Arithmetic,
                            3.Selection,
                            4.loop (for, while, for each),
                            5.Define function,
                            6.numpy package,
                            7.pandas package,
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #eafde7;"><i class="ion-ios-paper-outline"
                                style="color: #3fcdc7;"></i></div>
                        <h4 class="title"><a href="">自然語言處理NLP</a></h4>
                        <p class="description">
                            1. 斷詞,
                            2. 詞性分析,
                            3. 詞頻統計,
                            4. 全文檢索,
                            5. 大型語言模型與詞嵌入,
                            6. 文章相似度與新聞推薦系統
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #eafde7;"><i class="ion-ios-paper-outline"
                                style="color:#41cf2e;"></i></div>
                        <h4 class="title"><a href="">Natural Language Processing (NLP)</a></h4>
                        <p class="description">
                            1. Word Segmentation,
                            2. Part of Speech Analysis,
                            3. Keyword frequency,
                            4. Full-text search,
                            5. Large language model and Word embedding,
                            6. Document similarity and news recommendation
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                                style="color: #2282ff;"></i></div>
                        <h4 class="title"><a href="">網頁技術</a></h4>
                        <p class="description">
                            1. 網頁爬蟲,
                            2. 前端網頁技術,
                            3. Django後端網頁技術,
                            4. Ajax
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline"
                                style="color: #2282ff;"></i></div>
                        <h4 class="title"><a href="">Websites design</a></h4>
                        <p class="description">
                            1. Web page Crawler,
                            2. Front end technology,
                            3. Back end technology,
                            4. Ajax,

                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline"
                                style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">機器學習與深度學習</a></h4>
                        <p class="description">
                            1. 深度學習模型模型Transformers訓練與測試
                            2. 新聞情緒分類
                            3. 新聞分類
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
                    <div class="box">
                        <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline"
                                style="color: #ff689b;"></i></div>
                        <h4 class="title"><a href="">Machine Learning and Deep Learning</a></h4>
                        <p class="description">
                            1. Deep learning Transformers model training and testing
                            2. Sentiment (Emotional) classification,
                            3. News (Document) classification,
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #services -->

    <!--==========================
  Why Us Section
============================-->
    <section id="why-us" class="wow fadeIn">
        <div class="container-fluid">

            <header class="section-header">
                <h3>Why choose this course?</h3>
                <p>這是一門整合性質的課程，你會用到你在大學與研究所階段學到的IT技術，開發完成一個可以在真實世界運行的系統。</p>
            </header>

            <div class="row">

                <div class="col-lg-6">
                    <div class="why-us-img">
                        <img src="/static/assets_course_intro/img/why-us.jpg" alt="" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="why-us-content">

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-diamond" style="color: #f058dc;"></i>
                            <h4>你會學到目前很紅並受重視的IT技術</h4>
                            <p>你將會熟悉以下技術(You will familiar with these techniques):</p>
                            <ul>
                                <li>Python</li>
                                <li>Django website design (Python web framework)</li>
                                <li>jQuery, JavaScript (web)</li>
                                <li>HTML, Bootstrap4 (web)</li>
                                <li>NLP Natural Language Processing (基礎自然語言處理)</li>
                                <li>Deep Learning (Transformers)</li>
                                <li>Word embedding詞嵌入</li>
                            </ul>

                        </div>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-object-group" style="color: #ffb774;"></i>
                            <h4>你可以真正動手實作，而不是課堂上聽聽而已</h4>
                            <ul>

                                <li>Learning by doing從做中學</li>
                                <li> Learning by examples從實例中學</li>
                                <li>Learning step by step逐步分解動作練習</li>

                            </ul>
                        </div>

                        <div class="features wow bounceInUp clearfix">
                            <i class="fa fa-language" style="color: #589af1;"></i>
                            <h4>你學到的這些技術，可以豐富你的履歷表</h4>
                            <p>
                                After finishing this class, you can say that you have some experience in frontend and
                                backend web techniques. You are able to add several new skills in your resume. </p>
                            <p>在你的履歷新增以下經驗:網頁前端設計，網頁後端設計，
                                大數據分析，人工智慧深度學模型，文字探勘等。未來可以朝向網頁前後端工程師，Python程式設計師，數據分析師，人工智慧工程師等領域發展。

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
  Grading Section
============================-->
    <section id="grading">
        <div class="container">
            <header class="section-header">
                <h3>Scoring/Grading評分規定?</h3>

            </header>

            <div class="row feature-item">
                <div class="col-lg-6 wow fadeInUp">
                    <img src="/static/assets_course_intro/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <h4></h4>

                    <p>
                        1. (30%) Class exercises and home works 課堂操作 (每一節課都有任務須完成) 與 作業</p>
                    <p>
                        2. (35%) Midterm project期中專案: <br>public opinion analysis website 線上新聞文字大數據分析網頁專案(Basic)</p>
                    <p>
                        3. (35%) Term project期末專案: <br>public opinion analysis website 線上新聞文字大數據分析網頁專案(Complete)</p>
                    <p>
                        You may do the project alone. Or you may group a two-person team to finish it. But I encourage
                        you to finish the project alone.</p>
                    <p>
                        1~2人一起完成期中、期末專題。
                    </p>
                </div>
            </div>
        </div>
    </section><!-- #grading -->

    <!--==========================
 Frequently Asked Questions Section
============================-->
    <section id="faq">
        <div class="container">
            <header class="section-header">
                <h3>Frequently Asked Questions</h3>
                <p>常見的問題，你可能也會有這些疑問?</p>
            </header>

            <ul id="faq-list" class="wow fadeInUp">
                <li>
                    <a data-toggle="collapse" class="collapsed" href="#faq1">
                        1. This course is taught in English. My
                        English is not good. Can I take this course?
                        這門課程是英文授課，我的英文不好，可以修這門課嗎?
                        <i class="ion-android-remove"></i></a>
                    <div id="faq1" class="collapse" data-parent="#faq-list">
                        <p>
                            Okay.
                        </p>
                        <p>
                            Because the English sentences used in the classroom are not complicated, you can understand
                            most of them. Only some technical terms (terminologies)(技術名詞、專有名詞) are difficult are us. But
                            don’t worry. When these terms are first mentioned, the teacher will also speak it in the
                            corresponding Chinese. So, you should be able to understand these technical terms.

                        </p>
                        <p>
                            Most of your classmates are not perfect in English. Give yourself more opportunities to
                            learn English, and you will gradually improve your English ability.</p>
                        <p>
                            What's more, the course content is mostly about programming code. The programming code does
                            not require much explanation. Even if you don't understand what teacher says, you can also
                            understand it by running the code for yourself.

                        </p>

                        <p>
                            可以喔。
                        </p>
                        <p>
                            因為課堂上使用的英文句型不複雜，大多可以聽得懂，比較需要適應的是專有名詞，老師第一次提到這些專有名詞時，同時也會提及專有名詞對應的中文，所以，你應該可以應付得來。
                        </p>
                        <p>
                            別擔心，大多數的同學英文都不盡理想，多給自己機會學習，英文可以慢慢變好。
                        </p>
                        <p>
                            更何況，課程內容大多為程式碼，程式碼不需要太多的講解，就算有些聽不懂，親自執行試一試，你就能理解了。
                        </p>

                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq2" class="collapsed">2. Do I have to speak English to ask
                        questions in class?課堂上問問題一定得說英文嗎?<i class="ion-android-remove"></i></a>
                    <div id="faq2" class="collapse" data-parent="#faq-list">
                        <p>
                            In class, we try to speak English as much as possible. However, when you don’t know how to
                            speak some words or sentences in English, in that case, speaking Chinese is ok. After class,
                            we can speak Chinese.
                        </p>
                        <p>
                            課堂上我們儘量說英文，比手畫腳也OK，不得以蹦出幾個中文，也是OK，別擔心。下課後，找老師討論，我們講中文也可以。
                        </p>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq3" class="collapsed">3. I haven't written a Python program. This
                        course is suitable for me?我沒有寫過Python程式，我適合修這門課嗎?<i class="ion-android-remove"></i></a>
                    <div id="faq3" class="collapse" data-parent="#faq-list">
                        <p>
                            It is Not suitable. If you have no Python foundation at all, this course will be too difficult for you and you may be frustrated.
                            If you have Python experiences, that's great. You can learn it well.<br>
                            不建議。本課程適合有Python基礎者修課，如果你Python程式的基礎，這門課內容都是Python程式，那麼這門課對你而言，就太艱難了，你會挫折感很重的。如果你有Python程式的基礎，那就太好了，你一定可以學得很有心得。
        
                        </p>

                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq4" class="collapsed">4. Although I have a basic programming
                        skill, I haven’t written a web program. This course is suitable for me?
                        我只有程式基礎，但是沒有寫過網頁程式，我適合修這門課嗎?<i class="ion-android-remove"></i></a>
                    <div id="faq4" class="collapse" data-parent="#faq-list">
                        <p>
                            It is Not suitable. If you are familiar with web programming, it will be easier to do mid-term and term projects for you. If you are not familiar with web programming, you may be frustraed, because we use a lot of webpage technologies, including JavaScript.<br>

                            不建議。希望有寫過網頁的經驗者來修課比較好。我們用到不少網頁技術，尤其大多是動態網頁JavaScript，比較複雜些，需要有基礎才較能上手。
                        </p>

                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq5" class="collapsed">5. This course has mid-term and final term
                        projects. What can I do if I can't complete it? 這門課有期中與期末專案，我沒有把握，我無法完成怎麼辦? <i
                            class="ion-android-remove"></i></a>
                    <div id="faq5" class="collapse" data-parent="#faq-list">
                        <p>
                            It may not happen. As long as you understand the tutorial code in the classroom, you can
                            grasp all the details for the mid-term and term projects. The only thing you need to do is
                            to change the data set to another data set or to add some additional analysis functions in
                            your projects. If you worry about heavy loading, you may group a two-person team to work
                            together.
                        </p>
                        <p>
                            只要將老師課堂展示的程式碼搞懂，每次上課都能掌握所有細節，期中期末專案，只要將資料集換成別的資料集，或是增加一些額外的分析展示功能，就可以了。
                        </p>
                        <p>
                            你若是很擔心負擔太重，你可以找一個技術比你好的同學組隊，兩人一組，一起分工合作，可以減輕負擔。
                        </p>

                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq6" class="collapsed">6. What should I do if I have questions on
                        how to write programs? 寫程式時遇到問題怎麼辦? <i class="ion-android-remove"></i></a>
                    <div id="faq6" class="collapse" data-parent="#faq-list">
                        <p>
                            Ask Google, StackOverflow first, it usually gives you good answers.
                        </p>
                        <p>
                            There is a teaching assistant can help you. Additionally, the teacher also has 4 hours of
                            discussion time each week. You are welcome to make an appointment for discussion.
                        </p>
                        <p>
                            先問Google, Stackoverflow，通常它可以給你很好的答案。
                        </p>
                        <p>
                            這門課也有一位很有經驗的學長擔任教學助教，他也可以協助你。
                        </p>
                        <p>
                            老師每周也有4小時的解惑時間，歡迎你來預約討論。
                        </p>

                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#faq7" class="collapsed">7. Who is eligible for this course?
                        這門課適合怎樣的人選修? <i class="ion-android-remove"></i></a>
                    <div id="faq7" class="collapse" data-parent="#faq-list">
                        <p>
                            People who want to learn an integrated information technology,
                            People who want to get IT jobs in the future,
                            People who want to improve their programming skills,
                            People who want to be a data (data) analyst,
                            People who are interested in text analysis,
                            People who are interested in the application of artificial intelligence in text,
                            People who want to design dynamic web pages,
                            People who are interested in design the backend of websites,
                            People who want to master Python programs,
                            People who want to develop a practical system,
                            …

                        </p>
                        <p>
                            想要學到比較整合性的、困難度較高的資訊技術的人,
                            未來想要走技術路線的人,
                            想要磨練一下自己寫程式能力的人,
                            想要做一個數據(資料)分析師的人,
                            對文字分析工作有興趣的人,
                            對人工智慧在文字上的應用有興趣的人,
                            想要做動態網頁的人,
                            對網頁後端有興趣的人,
                            想要應用Python程式的人,
                            想要開發一個實用的系統的人,
                            …
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq8" class="collapsed">8. I am a management group student, not a
                        technical group student. Am I suitable for this course? 我是管理組，不是技術組的學生，我適合修這門課嗎? <i
                            class="ion-android-remove"></i></a>
                    <div id="faq8" class="collapse" data-parent="#faq-list">
                        <p>
                            This course is suitable for you, if you have basic programming skills. Follow the teacher in
                            class, write codes at home, and you can handle it.
                        </p>
                        <p>
                            I've seen a lot of students from the management group who also write codes very well. Do not
                            underestimate yourself. The two years in NKUST is the best time for you to learn programming
                            skills and develop yourself.
                        </p>
                        <p>
                            只有你有基礎的程式能力就足夠了，其餘的好好跟著老師課堂上課，回家親自寫一次，就可以應付。
                        </p>
                        <p>
                            我見過不少程式也寫得不錯的管理組的學生，別太小看自己，你若對寫程式有一些些的了解，想要開發自己，趁研究所這兩年，就是你最佳的學習時光。
                        </p>

                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq9" class="collapsed">9. What kind of computer equipment is
                        required in this course? 修這門課需要怎樣的電腦配備? <i class="ion-android-remove"></i></a>
                    <div id="faq9" class="collapse" data-parent="#faq-list">
                        <p>
                            A basic desktop or laptop computer is sufficient. Our development environment is a little
                            bit large, so it is better to have more than 8GB of RAM in your computer.
                        </p>
                        <p>
                            基本的電腦就可以，不過，我們的開發環境比較大型，因此，RAM最好有8GB以上。
                        </p>
                    </div>
                </li>

                <li>
                    <a data-toggle="collapse" href="#faq10" class="collapsed">10. Do I need my own laptop for this
                        course? 修這門課一定需要自己的筆電? <i class="ion-android-remove"></i></a>
                    <div id="faq10" class="collapse" data-parent="#faq-list">
                        <p>
                            It’s not mandatory.
                        </p>
                        <p>
                            You are able to use the powerful PC in our computer classroom. You can back up your codes to
                            the Google cloud.
                        </p>
                        <p>
                            Of course, you may use your own laptop in the classroom.
                        </p>

                        <p>
                            可以不用。
                        </p>
                        <p>
                            我們電腦教室的配備很高檔，使用教室的PC即可。課堂練習的程式碼，你可以拷貝到雲端備份。
                        </p>
                        <p>
                            當然，你也可以攜帶你的筆電到課堂上來使用。
                        </p>

                    </div>
                </li>

            </ul>

        </div>
    </section><!-- #faq -->

    <!--==========================
  Footer
============================-->
    <footer id="footer" class="section-bg">

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
            -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below if you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="/static/assets_course_intro/lib/jquery/jquery.min.js"></script>
    <script src="/static/assets_course_intro/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/static/assets_course_intro/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets_course_intro/lib/easing/easing.min.js"></script>
    <script src="/static/assets_course_intro/lib/mobile-nav/mobile-nav.js"></script>
    <script src="/static/assets_course_intro/lib/wow/wow.min.js"></script>
    <script src="/static/assets_course_intro/lib/waypoints/waypoints.min.js"></script>
    <script src="/static/assets_course_intro/lib/counterup/counterup.min.js"></script>
    <script src="/static/assets_course_intro/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/static/assets_course_intro/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="/static/assets_course_intro/lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="/static/assets_course_intro/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="/static/assets_course_intro/js/main.js"></script>

</body>

</html>